{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-between mb-3">
  <h3>All Students</h3>
  <a href="/add" class="btn btn-success">+ Add Student</a>
</div>

<table class="table table-striped table-hover table-bordered shadow text-center align-middle">
<thead class="table-dark">
<tr>
<th style="width:60px">ID</th>
<th style="width:140px">Name</th>
<th style="width:80px">Age</th>
<th style="width:120px">Course</th>
<th style="width:200px">Email</th>
<th style="width:140px">Phone</th>
<th style="width:100px">Gender</th>
<th style="width:140px">Date of Birth</th>
<th style="width:120px">Department</th>
<th style="width:120px">Year of Study</th>
<th style="width:120px">City</th>
<th style="width:80px">GPA</th>
<th style="width:140px">Actions</th>
</tr>
</thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ s[0] }}</td>
      <td>{{ s[1] }}</td>
      <td>{{ s[2] }}</td>
      <td>{{ s[3] }}</td>
      <td>{{ s[4] }}</td>
      <td>{{ s[5] }}</td>
      <td>{{ s[6] }}</td>
      <td>{{ s[7] }}</td>
      <td>{{ s[8] }}</td>
      <td>{{ s[9] }}</td>
      <td>{{ s[10] }}</td>
      <td>{{ s[11] }}</td>
      <td>{{ s[12] }}</td>
      <td>{{ s[13] }}</td>
      <td>
        <a href="/edit/{{ s[0] }}" class="btn btn-warning btn-sm">Edit</a>
        <a href="/delete/{{ s[0] }}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}